{{ if eq .chezmoi.os "darwin" }}

[".local/bin/starship-multi-config"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sargunv/starship-multi-config" "starship-multi-config-aarch64-apple-darwin.tar.gz" | quote }}
executable = true
path = "starship-multi-config"

[".gitignore_global"]
type = "file"
refreshPeriod = "24h"
url = "https://raw.githubusercontent.com/github/gitignore/refs/heads/main/Global/macOS.gitignore"
# jgitver-gradle struggles with the Icon line; let's filter it out
filter.command = "sed"
filter.args = ["/Icon\\[/d"]

["Library/Fonts"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Monaspace.zip"

{{ else if eq .chezmoi.os "linux" }}

[".local/bin/starship-multi-config"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sargunv/starship-multi-config" "starship-multi-config-x86_64-unknown-linux-gnu.tar.gz" | quote }}
executable = true
path = "starship-multi-config"

[".gitignore_global"]
type = "file"
refreshPeriod = "24h"
url = "https://raw.githubusercontent.com/github/gitignore/refs/heads/main/Global/Linux.gitignore"

[".local/share/fonts"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Monaspace.zip"

{{ end }}

[".agents/skills/frontend-design/SKILL.md"]
type = "file"
url = "https://raw.githubusercontent.com/justinwetch/skills/70f9ae7bcc0779df92ea97bffef3fe8a9fde68b8/skills/frontend-design/SKILL.md"
