[".config/zsh/antidote"]
type = "archive"
url = "https://github.com/mattmc3/antidote/archive/refs/heads/main.tar.gz"
stripComponents = 1

[".config/tmux/plugins/tpm"]
type = "archive"
url = "https://github.com/tmux-plugins/tpm/archive/refs/heads/master.tar.gz"
stripComponents = 1

[".local/share/nvim/lazy/lazy.nvim"]
type = "archive"
url = "https://github.com/folke/lazy.nvim/archive/refs/tags/stable.tar.gz"
stripComponents = 1

[".agents/skills/frontend-design/SKILL.md"]
type = "file"
url = "https://raw.githubusercontent.com/anthropics/claude-code/refs/heads/main/plugins/frontend-design/skills/frontend-design/SKILL.md"
