#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
# homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
export FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

# gnu tooling
GNU_PATH=$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin
GNU_PATH=$GNU_PATH:$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnubin
GNU_PATH=$GNU_PATH:$HOMEBREW_PREFIX/opt/gnu-tar/libexec/gnubin
export PATH=$GNU_PATH:$PATH

GNU_MANPATH=$HOMEBREW_PREFIX/opt/coreutils/libexec/gnuman
GNU_MANPATH=$GNU_MANPATH:$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnuman
GNU_MANPATH=$GNU_MANPATH:$HOMEBREW_PREFIX/opt/gnu-tar/libexec/gnuman
MANPATH=$GNU_MANPATH:$MANPATH
{{- end }}

# cargo / rust
export PATH="$HOME/.cargo/bin:$PATH"

# Jetbrains
export PATH="$PATH:$HOME/.local/share/JetBrains/Toolbox/scripts"

# local bin
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"

# misc
export ATUIN_INIT_FLAGS='--disable-up-arrow'
export ITERM2_SQUELCH_MARK=1
