[user]
name={{ .chezmoi.config.data.full_name }}
email={{ .chezmoi.config.data.github_username }}@users.noreply.github.com

[core]
excludesfile = /home/sargunv/.gitignore_global
pager = sh -c '[ -z "$NO_FANCY_SHELL" ] && delta || [ -z "$PAGER" ] && less -RF --mouse || $PAGER'

[interactive]
diffFilter = sh -c '[ -z "$NO_FANCY_SHELL" ] && delta --color-only || cat'

[merge]
conflictstyle = zdiff3

[delta]
navigate = true

[push]
autoSetupRemote = true
useForceIfIncludes = true

[pull]
rebase = true

[rebase]
autoStash = true

[init]
defaultBranch = main

[diff]
algorithm = histogram

[branch]
sort = -committerdate

[credential "https://github.com"]
helper =
helper = !gh auth git-credential

[credential "https://gist.github.com"]
helper =
helper = !gh auth git-credential

[submodule]
recurse = true
