#!/bin/bash

if command -v brew > /dev/null; then
brew bundle --file=/dev/stdin <<EOF

# Common
{{ range .packages.common.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.common.brews -}}
brew {{ . | quote }}
{{ end -}}

EOF
fi

# Install scripts
{{ range .packages.common.scripts -}}
curl -fsSL {{ . | quote }} | bash
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.scripts -}}
curl -fsSL {{ . | quote }} | bash
{{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.linux.scripts -}}
curl -fsSL {{ . | quote }} | bash
{{ end -}}
{{ end -}}

