{{ range .gitignore_sources -}}
{{ range $line := splitList "\n" (output "curl" "-fsSL" .) -}}
{{/* JGit rejects gitignore patterns containing literal carriage returns. */ -}}
{{ if and (ne $line "") (not (contains "\r" $line)) (not (hasPrefix "#" $line)) -}}
{{ $line }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ range .gitignore_local_patterns -}}
{{ . }}
{{ end -}}
