#!/bin/zsh

typeset -U path fpath

path=(
  "$HOME/.local/bin"
  "$HOME/bin"
  "$HOME/.local/share/JetBrains/Toolbox/scripts"
  "$HOME/.local/share/mise/shims"
  "$HOME/.opencode/bin"
  "$HOME/.kimi-code/bin"
  "$HOME/.lmstudio/bin"
  $path
)

export PAGER="less -RF --mouse"
export DELTA_PAGER="$PAGER"

{{ if eq .chezmoi.os "darwin" -}}
export SSH_SK_PROVIDER="/usr/lib/ssh-keychain.dylib"

if [ -d "/Applications/Ghostty.app/Contents/Resources/terminfo" ]; then
  export TERMINFO_DIRS="${TERMINFO_DIRS:+$TERMINFO_DIRS:}/Applications/Ghostty.app/Contents/Resources/terminfo"
fi
{{ end -}}
