[user]
name = "{{ .chezmoi.config.data.full_name }}"
email = "{{ .chezmoi.config.data.github_username }}@users.noreply.github.com"

[revset-aliases]
'immutable_heads()' = 'builtin_immutable_heads() | (trunk().. & ~mine())'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & ~description(exact:"") & (~empty() | merges()))'

[aliases]
l = ["log", "-r", "(main..@):: | (main..@)-"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]
